/* Tomorrow Night */
$cb-selection: #373b41;
$cb-comment: #969896;
$cb-red: #cc6666;
$cb-orange: #de935f;
$cb-yellow: #f0c674;
$cb-green: #b5bd68;
$cb-aqua: #8abeb7;
$cb-blue: #81a2be;
$cb-purple: #b294bb;
