@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

$fontsize: 16px;
$fontfamily: 'Source Sans Pro', sans-serif;
$fontsize-mono: 12px;
$fontfamily-mono: "DejaVu Sans Mono", "Liberation Mono", Consolas, Menlo, Courier, monospace;

$smallpage-limit: 767px;
$largepage-limit: 1200px;

$linkcolor: #4cb4e8;
$linkcolor-hover: #d4edf9;
$linkcolor-disabled: #f11111;
$linkcolor-disabledhover: #f2777a;

$textcolor: #c6c6c6;
$headingcolor: #ffffff;
$headingcolor-small: #999999;

$menucolor: #999999;
$menucolor-hover: #ffffff;
