$fontsize: 14px;
$fontfamily: 'Oxygen', sans-serif;
$fontsize-mono: 12px;
$fontfamily-mono: "DejaVu Sans Mono", "Liberation Mono", Consolas, Menlo, Courier, monospace;

$smallpage-limit: 767px;
$largepage-limit: 1200px;

$linkcolor: #4cb4e8;
$linkcolor-hover: #d4edf9;

$textcolor: #c6c6c6;
$headingcolor: #ffffff;
$headingcolor-small: #999999;

$menucolor: #999999;
$menucolor-hover: #ffffff;
