<nav>{% assign url_pieces = page.url | split: '/'%}
  <div>
    <ul>
      <li><b><a href="{{ site.baseurl }}/">Hashdump</a></b></li>
      {% for nav in site.data.nav %}{% if nav.url contains 'http://' or nav.url contains 'https://' %}{% assign http = true %}{% endif %}
      <li{% if nav.url == url_pieces[1] %} class='active'{% endif %}>
        <a{% if http %} class="external" target="_blank"{% endif %} href="{% unless http %}{{ site.baseurl }}/{% endunless %}{{ nav.url }}">{{ nav.title }}</a>
      </li>{% endfor %}
    </ul>
  </div>
</nav>
