main {
  width: 90%;
  flex: 1;
  max-width: $largepage-limit;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;

  @media (max-width: $smallpage-limit) {
    margin: 0 20px;
    width: auto;
  }
}

footer {
  margin-top: 20px;
  clear: both;

  p {
    text-align: center;
  }
}

nav {
  padding: 1px 20px 3px 20px;
  min-height: 40px;

  div {
    width: 100%;
    overflow: visible;
    color: $menucolor;
    float: left;

    .brand {
      float: left;
      padding: 10px 10px 10px 0;
      font-size: 20px;
      font-weight: 200;
      line-height: 1;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style: none;
      margin: 0 10px 0 0;

      li {
        float: left;

        a {
          display: block;
          padding: 8px 10px;
          margin-top: 4px;
          line-height: 19px;
          color: inherit;

          &:hover {
            color: $menucolor-hover;
            text-decoration: none;
            background-color: transparent;
          }
          &.external:after {
            content: "⇗";
          }
        }
      }
    }

    .active {
      a, a:hover {
        color: #ffffff;
        text-decoration: none;
        background: #202020;
        background-color: rgba(0, 0, 0, 0.3);
        @include prefix-values('border-radius', '5px');
      }
    }
  }
}

header {
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 10px 20px;
  margin: 0px -20px 20px;
  z-index: 0;
  @include prefix-values('border-radius', '5px');

  h1 {
    margin-bottom: 0;
    line-height: 1;

    small {
      margin-top: 5px;
      display: block;
      line-height: 18px;
    }
  }

  @media (max-width: $smallpage-limit) {
    @include prefix-values('border-radius', 0);
  }
}

#columns {
  @include prefix-values('column-width', '200px', webkit moz);
  @include prefix-values('column-gap', '20px', webkit moz);
  @include prefix-values('column-rule', '1px solid #000000', webkit moz);

  .column {
    @include prefix-values('column-break-inside', 'avoid', webkit moz);
    @include prefix-values('page-break-inside', 'avoid', moz);
  }
}
